body {
    background-image: url('erc1.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
}

.title {
    font-size: 36px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.hidden {
    display: none;
}

.form-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
